.t {
  background-color: red;
  width: 100%;
}
.div {
  width: 500px;
  background-color: rebeccapurple;
}

.back {
  background-color: red;
}

.d {
  width: 500px;
}

.b {
  background-color: gray;
}

.c {
  right: 0;
  width: 100%;
}
