@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

.container {
  background-color: $white;
  padding: 40px;
  border-radius: 8px;

  .h1 {
    @include headingM($grey-dark);
  }

  .p {
    @include bodyM($grey);
    margin-bottom: 40px;
  }

  .form {
    .inputs {
      @include flex(column, auto, auto);
      padding: 20px;
      gap: 12px;
    }

    .footer {
      @include flex(row, flex-end);
      padding: 24px 40px;
      border-top: 1px solid $borders;
      width: 100%;
      margin-top: 40px;

      .save {
        @include headingS($white);
        cursor: pointer;
        padding: 11px 27px;
        background-color: $purple;
        border-radius: 8px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .container {
    .form {
      .footer {
        padding: 16px;
        .save {
          width: 100%;
        }
      }
    }
  }
}
