@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

.main {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  column-gap: 24px;
  height: auto;
  max-height: 834px;
  margin: 0px 24px;
}

@media (max-width: $tablet) {
  .main {
    @include flex(row, center, flex-start);
  }
}

@media (max-width: $mobile) {
  .main {
    @include flex(row, auto, flex-start);
    column-gap: 0px;
    margin: 16px;
  }
}
