@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;
.label {
  @include flex(column, flex-start, stretch);
  @include bodyS($grey-dark);
  gap: 4px;

  &:not(:has(.hidden)) {
    color: $red;
  }

  .containerInput {
    @include flex();
    @include focused();
    border: 1px solid $borders;
    border-radius: 8px;
    padding: 12px 16px;
    gap: 12px;

    &:not(:has(.hidden)) {
      border-color: $red;
    }

    .icon {
      width: 16px;
      height: 16px;
    }

    .input {
      @include bodyM($grey-dark);
      width: 100%;
    }

    .alert {
      white-space: nowrap;
      color: $red;
    }

    .hidden {
      display: none;
    }
  }
}
