@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

.main {
  @include flex(column);
  padding: 48px 56px;
  background-color: $white;
  width: fit-content;
  justify-self: center;
  margin-top: 82px;
  border-radius: 24px;
  box-shadow: 0px 0px 32px rgba($color: $purple, $alpha: 0.1);

  .user {
    border: 4px solid $purple;
    border-radius: 50%;
    width: 104px;
    height: 104px;
    margin-bottom: 24px;
  }

  .name {
    @include headingM($grey-dark);
    margin-bottom: 8px;
  }

  .email {
    @include bodyM($grey);
  }

  .list {
    @include flex(column);
    margin-top: 56px;
    gap: 20px;
    width: 237px;
  }
}

@media (max-width: $mobile) {
  .main {
    margin-top: 0px;
    padding: 60px 0px;
    width: 100%;
    border-radius: 0px;
    box-shadow: 0px;
    height: 100%;
  }
}
