@use "./variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin image-mask($mask, $width, $height) {
  -webkit-mask-image: url("../../public/" + $mask);
  mask-image: url("../../public/" + $mask);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  width: $width;
  height: $height;
}

@mixin focused() {
  &:focus-within {
    @include shadow-selection();
    border: 1px solid $purple;
  }
}

@mixin shadow-selection() {
  box-shadow: 0px 0px 32px rgba($color: $purple, $alpha: 0.25);
}

@mixin font() {
  font-family: "Instrument Sans", sans-serif;
}

@mixin mask-image-dynamic() {
  mask-image: var(--mask-img);
  -webkit-mask-image: var(--mask-img);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

@mixin headingM($color) {
  @include _typography(2rem, bold);
  color: $color;
}

@mixin headingXM($color) {
  @include _typography(1.2rem, bold);
  color: $color;
}

@mixin headingS($color) {
  @include _typography(1em, bold);
  color: $color;
}

@mixin bodyM($color) {
  @include _typography(1rem, normal);
  color: $color;
}

@mixin bodyXM($color) {
  @include _typography(0.8rem, normal);
  color: $color;
}

@mixin bodyS($color) {
  @include _typography(0.75rem, normal);
  color: $color;
}

@mixin _typography($font-size, $font-weight) {
  @include font();
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: 150%;
}
