$tablet: 768px;
$mobile: 375px;

$purple: #633cff;
$purple-hover: #beadff;
$purple-light: #efebff;
$grey: #737373;
$grey-dark: #333333;
$grey-light: #fafafa;
$borders: #d9d9d9;
$white: #ffffff;
$red: #ff3939;
