@use "./variables.scss" as *;
@use "./mixin.scss" as *;

html {
  font-size: 16px;
}

html,
body {
  width: 100%;
  max-width: 100vw;

  height: 100%;
  max-height: 100vh;
}

body {
  @include font();
  color: $grey-dark;
  background: $grey-light;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
