@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

.mobile {
  @include flex();
  border-radius: 12px;
  background-color: $white;
  padding: 24px;

  .img {
    width: 100%;
    height: 631px;
  }
}

@media (max-width: $tablet) {
  .mobile {
    display: none;
  }
}
