@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

@mixin mask-image-dynamic() {
  mask-image: var(--mask-img);
  -webkit-mask-image: var(--mask-img);
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.container {
  @include flex(column, auto, auto);
  gap: 4px;
  position: relative;

  .label {
    @include bodyS($grey-dark);
  }

  .containerSelect {
    width: 100%;
    .select {
      @include flex(row, space-between, center);
      background-color: $white;
      padding: 12px 16px;
      border-radius: 8px;
      border: 1px solid $borders;
      cursor: pointer;

      &:hover {
        border-color: $purple;
      }

      &.active {
        @include shadow-selection();
        border-color: $purple;

        .arrow {
          rotate: 180deg;
        }
      }

      .option.selected {
        @include flex();
        gap: 12px;

        .img {
          width: 16px;
          height: 16px;
        }

        .p {
          @include bodyM($grey-dark);
        }
      }

      .arrow {
        width: 14px;
        height: 14px;
        transition: rotate 0.3s ease-in-out;
      }
    }
  }

  .containerHidden {
    @include flex(column);
    position: absolute;
    display: none;
    z-index: 1;
    margin-top: 16px;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid $borders;
    transition: height 0.3s ease-in-out;
    width: 100%;
    background-color: $white;
    padding: 0px 16px;

    &.active {
      display: block;
    }

    .option {
      @include flex(row, flex-start, center);
      border-bottom: 1px solid $borders;
      gap: 12px;
      padding: 12px 0px;
      width: 100%;
      cursor: pointer;

      .img {
        @include mask-image-dynamic();
        width: 16px;
        height: 16px;
        background-color: $grey;
      }

      .p {
        @include bodyM($grey-dark);
      }

      &.selected {
        .p {
          color: $purple;
        }

        .img {
          background-color: $purple;
        }
      }

      &:hover {
        .p {
          color: $purple;
        }

        .img {
          background-color: $purple;
        }
      }
    }
  }
}
