@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

.container {
  padding: 24px 0px;
  height: 100%;

  .links {
    @include flex(column, auto, auto);
    gap: 24px;
    height: 100%;
    overflow-y: auto;
  }
}
