@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

.container {
  @include flex(column);
  gap: 41px;
  height: 100%;

  .logo {
    width: 182.5px;
    height: 40px;
  }

  .containerForm {
    @include flex(column, flex-start, stretch);
    background-color: $white;
    width: 100%;
    padding: 40px;
    max-width: 475px;
    border-radius: 12px;
    gap: 40px;

    .header {
      @include flex(column, flex-start, flex-start);
      gap: 8px;

      .title {
        @include headingM($grey-dark);
      }
      .p {
        @include bodyM($grey);
      }
    }

    .form {
      @include flex(column, flex-start, stretch);
      gap: 24px;

      .submit {
        @include headingS($white);
        background-color: $purple;
        padding: 11px 27px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          background-color: $purple-hover;
        }
      }

      .p {
        @include bodyM($grey);
        text-align: center;

        .link {
          color: $purple;
        }
      }

      .message {
        @include bodyS($grey);
      }
    }
  }
}

@media (max-width: $mobile) {
  .page {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 32px;

    .logo {
      margin-bottom: 64px;
    }

    .containerForm {
      padding: 0px;
      background-color: transparent;

      .form {
        .p {
          text-align: center;
          .link {
            display: block;
          }
        }
      }
    }
  }
}
