@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

.item {
  display: grid;
  grid-template-columns: auto auto 1fr;
  width: 100%;
  padding: 11px 16px;
  border-radius: 8px;
  column-gap: 8px;
  cursor: pointer;

  .icon {
    width: 16px;
    height: 16px;
    background-color: $white;
  }

  .p {
    @include bodyS($white);
  }

  .arrow {
    justify-self: flex-end;
    width: 16px;
    height: 16px;
  }
}
