@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

.customize {
  border-radius: 12px;
  background-color: $white;
  background-color: red;
  height: 100%;
  max-height: 100vh;

  .header {
    margin: 40px;

    .title {
      @include headingM($grey-dark);
    }

    .p {
      @include bodyM($grey);
    }
  }

  .list {
    margin: 0px 40px 40px;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;

    .add {
      @include headingS($purple);
      cursor: pointer;
      border: 1px solid $purple;
      border-radius: 8px;
      height: 46px;
      width: 100%;

      &:hover {
        background-color: $purple-light;
      }
    }
  }

  .footer {
    @include flex(row, flex-end);
    padding: 24px 40px;
    border-top: 1px solid $borders;

    .save {
      @include headingS($white);
      cursor: pointer;
      padding: 11px 27px;
      background-color: $purple;
      border-radius: 8px;

      &.disable {
        opacity: 25%;
      }
    }
  }
}

@media (max-width: $mobile) {
  .customize {
    .header {
      margin: 24px 24px 40px;
    }

    .list {
      margin: 0px 24px 24px;
    }

    .footer {
      padding: 16px;

      .save {
        width: 100%;
      }
    }
  }
}
