@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

.li {
  @include flex(column, flex-start, stretch);
  background-color: $grey-light;
  gap: 12px;
  padding: 20px;

  .title {
    @include flex(row, space-between, center);

    .icon {
      width: 12px;
      height: 6px;
    }

    .h3 {
      @include headingS($grey);
      @include flex(row, flex-start);
      gap: 8px;
    }

    .delete {
      @include headingS($grey);
    }
  }
}
