@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

.dropDown {
  width: 100%;
  position: relative;

  .trigger,
  .menu {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid $borders;
    background-color: $white;
    border-radius: 8px;
  }

  .trigger {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    cursor: pointer;

    &.active {
      border-color: $purple;
      @include shadow-selection();

      .arrow {
        rotate: 180deg;
      }
    }

    .arrow {
      justify-self: flex-end;
      width: 14px;
      height: 8px;
      transition: rotate 0.3s ease-in-out;
    }
  }

  .menu {
    @include flex(column, flex-start, stretch);
    position: absolute;
    background-color: $white;
    margin-top: 12px;
    gap: 12px;
    z-index: 1;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    height: 700px;

    &.hidden {
      height: 0px;
      opacity: 0;
      padding: 0px;
      border: none;
    }
  }

  .item {
    @include flex(row, flex-start);
    @include bodyM($grey-dark);
    gap: 12px;
    cursor: pointer;

    &.select {
      color: $purple;
      .icon {
        background-color: $purple;
      }
    }

    &.inMenu {
      padding-bottom: 12px;
      border-bottom: 1px solid $borders;

      &:hover {
        color: $purple;
        .icon {
          background-color: $purple;
        }
      }
    }

    .icon {
      background-color: $grey;
      width: 16px;
      height: 16px;
    }
  }
}
