@use "@/styles/variables.scss" as *;
@use "@/styles/mixin.scss" as *;

.header {
  padding: 16px;
  margin: 24px;
  background-color: $white;
  border-radius: 12px;

  .nav {
    display: grid;
    align-items: center;
    justify-items: flex-start;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;

    .logo {
      width: 146px;
      height: 32px;
    }

    .link {
      @include headingS($grey);
      @include flex();
      white-space: nowrap;
      gap: 8px;
      border-radius: 8px;
      padding: 11px 27px;

      &.links {
        justify-self: flex-end;

        .icon {
          @include image-mask("icon-links-header.svg", 20px, 20px);
          background-color: $grey;
        }
      }

      &.detail {
        .icon {
          @include image-mask("icon-profile-details-header.svg", 20px, 20px);
          background-color: $grey;
        }
      }

      &.preview {
        justify-self: flex-end;
        border: 1px solid $purple;
        color: $purple;

        .icon {
          display: none;
        }
      }

      &.active {
        color: $purple;
        background-color: $purple-light;
        .icon {
          background-color: $purple;
        }
      }

      &.preview:hover {
        background-color: $purple-light;
      }

      &.links:hover,
      &.detail:hover {
        color: $purple;

        .icon {
          background-color: $purple;
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .header {
    .nav {
      column-gap: 0px;
    }
  }
}

@media (max-width: 610px) {
  .header {
    justify-content: flex-start;
    .nav {
      column-gap: 3px;
      .logo {
        width: 105px;
        height: auto;
      }
      .link {
        padding: 11px 10px;
      }
    }
  }
}

@media (max-width: $mobile) {
  .header {
    padding: 16px 16px 16px 24px;
    margin: 0;

    .nav {
      column-gap: 0px;

      .logo {
        width: 32px;
        height: 32px;
      }

      .link {
        padding: 11px 27px;
        p {
          display: none;
        }

        &.preview {
          padding: 11px 16px;
          .icon {
            display: block;
          }
        }
      }
    }
  }
}
